click==8.1.7
colorama==0.4.6
markdown-it-py==3.0.0
mdurl==0.1.2
prompt-toolkit==1.0.14
Pygments==2.17.2
PyInquirer==1.0.3
regex==2023.12.25
rich==13.7.1
shellingham==1.5.4
typer==0.9.0
typing_extensions==4.10.0
wcwidth==0.2.13
